<a href="https://colab.research.google.com/github/SunilY137/EDA-1/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
df = pd.read_csv('/content/gdrive/MyDrive/EDA Project 1/Play Store Data.csv', dtype='str')

# 1 We first use head() method to get a quick look at the first 5 rows of data.
# Here we can make initial thoughts on what might need to be cleaned or manipulated.
# A info() and shape() will give us a little more information of the dataset. 
# The shape method reveals that we have 10841 rows and 13 columns

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.info

<bound method DataFrame.info of                                                      App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

      Rating Reviews                Size     Installs  Type Price  \
0        4.1     159                 19M      10,000+  Free     0
1        3.9     967                 14M     500,000+  Free     0
2        4.7   87510                8.7M   5,000,000+  Free     0
3        4.5  215644                 25M  50,000,000+  Free     0
4        4.3     967                2.8M     100,000+  Free     0
...      ...     ...                 ...          ...   ...   ...
10836    4.5      38                 53M       5,000+  Free     0
10837    5.0       4                3.6M         100+  Free     0
10838    NaN       3                9.5M       1,000+  Free     0
10839    4.5     114  Varies with device       1,000+  Free     0
10840    4.5  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                 1.0          4.1 and up
10838                 1.0          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10841 rows x 13 columns]>

In [5]:
df.shape

(10841, 13)

In [6]:
df.size

140933

# 2. Data Cleaning Phase

2. Data Cleaning Phase
First of all, we can do some general tidying up of the column names and values.clean columns names and values

In [7]:
def clean_columns(df):
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
    
clean_columns(df)

def clean_vals(df):
    for col in df.columns:
        df[col] = df[col].str.strip().str.upper().str.replace('\t|\n', '', regex=True)
     
clean_vals(df)

In [8]:
#check

df.head()

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,PHOTO EDITOR & CANDY CAMERA & GRID & SCRAPBOOK,ART_AND_DESIGN,4.1,159,19M,"10,000+",FREE,0,EVERYONE,ART & DESIGN,"JANUARY 7, 2018",1.0.0,4.0.3 AND UP
1,COLORING BOOK MOANA,ART_AND_DESIGN,3.9,967,14M,"500,000+",FREE,0,EVERYONE,ART & DESIGN;PRETEND PLAY,"JANUARY 15, 2018",2.0.0,4.0.3 AND UP
2,"U LAUNCHER LITE – FREE LIVE COOL THEMES, HIDE ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",FREE,0,EVERYONE,ART & DESIGN,"AUGUST 1, 2018",1.2.4,4.0.3 AND UP
3,SKETCH - DRAW & PAINT,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",FREE,0,TEEN,ART & DESIGN,"JUNE 8, 2018",VARIES WITH DEVICE,4.2 AND UP
4,PIXEL DRAW - NUMBER ART COLORING BOOK,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",FREE,0,EVERYONE,ART & DESIGN;CREATIVITY,"JUNE 20, 2018",1.1,4.4 AND UP

# Size
We need to see what letters there are in the size column so that we can normalize the data.

We know that 1 MB = 1024 KB.

print(df['size'].str.replace('\d+', '').unique())
['M' '.M' 'VARIES WITH DEVICE' 'K' '.K' ',+']

  """Entry point for launching an IPython kernel.

   From the code above, we can see that we have our size data in the form of megabytes, kilobytes and unknown.

In [9]:
df.loc[df['size'].str.contains('M'),].head()

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,PHOTO EDITOR & CANDY CAMERA & GRID & SCRAPBOOK,ART_AND_DESIGN,4.1,159,19M,"10,000+",FREE,0,EVERYONE,ART & DESIGN,"JANUARY 7, 2018",1.0.0,4.0.3 AND UP
1,COLORING BOOK MOANA,ART_AND_DESIGN,3.9,967,14M,"500,000+",FREE,0,EVERYONE,ART & DESIGN;PRETEND PLAY,"JANUARY 15, 2018",2.0.0,4.0.3 AND UP
2,"U LAUNCHER LITE – FREE LIVE COOL THEMES, HIDE ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",FREE,0,EVERYONE,ART & DESIGN,"AUGUST 1, 2018",1.2.4,4.0.3 AND UP
3,SKETCH - DRAW & PAINT,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",FREE,0,TEEN,ART & DESIGN,"JUNE 8, 2018",VARIES WITH DEVICE,4.2 AND UP
4,PIXEL DRAW - NUMBER ART COLORING BOOK,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",FREE,0,EVERYONE,ART & DESIGN;CREATIVITY,"JUNE 20, 2018",1.1,4.4 AND UP

In [10]:
# converting mb to kb

def convert_mb_kb(df):
    df.loc[df['size'].str.contains('M'),'size'] = df.loc[df['size'].str.contains('M'),'size'].str.rstrip('M').astype(float) * 1024

convert_mb_kb(df)

In [11]:
df.head()

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,PHOTO EDITOR & CANDY CAMERA & GRID & SCRAPBOOK,ART_AND_DESIGN,4.1,159,19456.0,"10,000+",FREE,0,EVERYONE,ART & DESIGN,"JANUARY 7, 2018",1.0.0,4.0.3 AND UP
1,COLORING BOOK MOANA,ART_AND_DESIGN,3.9,967,14336.0,"500,000+",FREE,0,EVERYONE,ART & DESIGN;PRETEND PLAY,"JANUARY 15, 2018",2.0.0,4.0.3 AND UP
2,"U LAUNCHER LITE – FREE LIVE COOL THEMES, HIDE ...",ART_AND_DESIGN,4.7,87510,8908.8,"5,000,000+",FREE,0,EVERYONE,ART & DESIGN,"AUGUST 1, 2018",1.2.4,4.0.3 AND UP
3,SKETCH - DRAW & PAINT,ART_AND_DESIGN,4.5,215644,25600.0,"50,000,000+",FREE,0,TEEN,ART & DESIGN,"JUNE 8, 2018",VARIES WITH DEVICE,4.2 AND UP
4,PIXEL DRAW - NUMBER ART COLORING BOOK,ART_AND_DESIGN,4.3,967,2867.2,"100,000+",FREE,0,EVERYONE,ART & DESIGN;CREATIVITY,"JUNE 20, 2018",1.1,4.4 AND UP

In [12]:
# Lets look at all our unique letters now

print(df['size'].astype(str).str.replace('\d+', '').unique())

['.' 'VARIES WITH DEVICE' 'K' '.K' ',+']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

Now we can simply remove the K and change the size column to say "size (in kb)" for clarity,

In [13]:
df.loc[df['size'].astype(str).str.contains('K'), 'size'] = df.loc[df['size'].astype(str).str.contains('K'), 'size'].str.replace('K', '')

In [14]:
# we can see that there are now no more values containing the letter K
df.loc[df['size'].astype(str).str.contains('K'), 'size']

Series([], Name: size, dtype: object)

In [15]:
# adding clarify to the size column

df.rename(columns = {'size': 'size(kb)'}, inplace=True)

In [16]:
# check

df.columns

Index(['app', 'category', 'rating', 'reviews', 'size(kb)', 'installs', 'type',
       'price', 'content_rating', 'genres', 'last_updated', 'current_ver',
       'android_ver'],
      dtype='object')

We know that "VARIES WITH DEVICE" means unknown, or np.nan. So lets change replace those values.

In [17]:
df['size(kb)'].replace('VARIES WITH DEVICE', np.nan, inplace=True)

In [18]:
df.loc[df['size(kb)'].isnull(),]

,app,category,rating,reviews,size(kb),installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
37,FLOOR PLAN CREATOR,ART_AND_DESIGN,4.1,36639,NaN,"5,000,000+",FREE,0,EVERYONE,ART & DESIGN,"JULY 14, 2018",VARIES WITH DEVICE,2.3.3 AND UP
42,TEXTGRAM - WRITE ON PHOTOS,ART_AND_DESIGN,4.4,295221,NaN,"10,000,000+",FREE,0,EVERYONE,ART & DESIGN,"JULY 30, 2018",VARIES WITH DEVICE,VARIES WITH DEVICE
52,USED CARS AND TRUCKS FOR SALE,AUTO_AND_VEHICLES,4.6,17057,NaN,"1,000,000+",FREE,0,EVERYONE,AUTO & VEHICLES,"JULY 30, 2018",VARIES WITH DEVICE,VARIES WITH DEVICE
67,ULYSSE SPEEDOMETER,AUTO_AND_VEHICLES,4.3,40211,NaN,"5,000,000+",FREE,0,EVERYONE,AUTO & VEHICLES,"JULY 30, 2018",VARIES WITH DEVICE,VARIES WITH DEVICE
68,REPUVE,AUTO_AND_VEHICLES,3.9,356,NaN,"100,000+",FREE,0,EVERYONE,AUTO & VEHICLES,"MAY 25, 2018",VARIES WITH DEVICE,VARIES WITH DEVICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10713,MY EARTHQUAKE ALERTS - US & WORLDWIDE EARTHQUAKES,WEATHER,4.4,3471,NaN,"100,000+",FREE,0,EVERYONE,WEATHER,"JULY 24, 2018",VARIES WITH DEVICE,VARIES WITH DEVICE
10725,POSTA APP,MAPS_AND_NAVIGATION,3.6,8,NaN,"1,000+",FREE,0,EVERYONE,MAPS & NAVIGATION,"SEPTEMBER 27, 2017",VARIES WITH DEVICE,4.4 AND UP
10765,CHAT FOR STRANGERS - VIDEO CHAT,SOCIAL,3.4,622,NaN,"100,000+",FREE,0,MATURE 17+,SOCIAL,"MAY 23, 2018",VARIES WITH DEVICE,VARIES WITH DEVICE
10826,FRIM: GET NEW FRIENDS ON LOCAL CHAT ROOMS,SOCIAL,4.0,88486,NaN,"5,000,000+",FREE,0,MATURE 17+,SOCIAL,"MARCH 23, 2018",VARIES WITH DEVICE,VARIES WITH DEVICE
10839,THE SCP FOUNDATION DB FR NN5N,BOOKS_AND_REFERENCE,4.5,114,NaN,"1,000+",FREE,0,MATURE 17+,BOOKS & REFERENCE,"JANUARY 19, 2015",VARIES WITH DEVICE,VARIES WITH DEVICE